@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-image: url("../public/bg.png");
}
.table_header{
  background-color: #ffddd1;
}

.btn-add{
  background-color: #86A3C3;
  
}

.btn-add:hover {
  background-color: #ABCDEF;
}

.table-bg{
 background-color: white;
}
